django<4
celery[redis]
celery-redbeat
django-model-utils
django-webpack-loader>=1.0.0
django-js-reverse
werkzeug
pandas
Faker
apscheduler
django-import-export
djangorestframework
#django-celery-beat
django-debreach
python-decouple
psycopg2
brotlipy
django-log-request-id
dj-database-url
gunicorn
numpy==2.0.0
whitenoise
psutil
#ipython
sentry-sdk
pytz
google-api-python-client
#oauth2client
httplib2<0.16.0
jsons
beautifulsoup4
lxml
django-cors-headers
#django-rest-captcha
django-redis
# django-rest-knox
# pylibmc
pyTelegramBotAPI
djangorestframework-simplejwt
#Pillow
diffimg
pytesseract
# opencv-python
#cloudmersive_image_api_client
